body{
  background-position: 50% 50%; background-attachment: fixed;
  background-image: url("./images/12.jpg");
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
}
/* .zoom:hover{
  transform: scale(5);
} */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
/* .photo-galery-with-zoom img:active {
    position: fixed;
    top: 113px;
    max-width: 30%;
    max-height: 88vh;
    z-index: 99999;
    transition: 2s;

} */
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.column img:hover{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transform: scale(1.01);

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .column img{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  }

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column img{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  }
}
